h1{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}

div{
    margin: 20px 40px;
}

li, p {
    line-height: 20px;
}

.input {
    float: left;
    width: 40%;
    border-right: 1px solid black;
}

.results {
    float: right;
    width: 40%;
}

.italic {
    font-weight: lighter;
    font-style: italic;
}


